on boot

# Permissions for Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
    chown system radio /sys/class/sensors/accelerometer_sensor/dhr_sensor_info
    chown system system /efs/calibration_data
    chmod 0666 /efs/calibration_data

# Permissions for Bluetooth.
    setprop ro.bt.bdaddr_path /efs/bluetooth/bt_addr
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/device/extldo

    chown bluetooth net_bt /dev/ttySAC0
    chmod 0660 /dev/ttySAC0

# Permissions for Camera
    mkdir /data/camera 0770 media system
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_caminfo
    chown system radio /sys/class/camera/rear/rear_sensorid
    chown system radio /sys/class/camera/rear/rear_moduleid
    chown system radio /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/flash/front_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camfw_full
    chown system radio /sys/class/camera/front/front_checkfw_factory
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/camera/front/front_caminfo
    chown system radio /sys/class/camera/front/front_sensorid

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/lux

# Permissions for Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Permissions for SVC LED
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_lowpower
    chown system system /sys/class/sec/led/led_pattern

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled

    chmod 0660 /sys/class/sec/tsp/input/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system system /sys/class/sec/sec_touchkey/input/enabled
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chmod 0660 /sys/class/sec_touchkey/input/enabled

# Permissions for Light Sensor

chown system radio /sys/class/sensors/light_sensor/lux

# Permission for Vibrator
    chown system system /sys/class/timed_output/vibrator/enable

# Permission for Wifi firmware_path
    chown wifi wifi /sys/module/dhd/parameters/firmware_path

# SSWAP
    write /proc/sys/vm/swappiness 130

# Permission for Mobicore
    chown radio system /dev/mobicore-user
    chown system system /dev/mobicore
    chown media system /dev/s5p-smem

    chmod 0666 /dev/mobicore-user
    chmod 0700 /dev/mobicore
    chmod 0660 /dev/s5p-smem

on nonencrypted
    mkdir /data/misc/mcRegistry 0775 system system

on property:vold.decrypt=trigger_restart_framework
    mkdir /data/misc/mcRegistry 0775 system system

service sswap /sbin/sswap -s -f 1536
    class core
    user root
    group root
    oneshot
